@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@0,400;0,500;0,600;1,400&family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: white;
}
body {
  background: #000;
}
.home {
  background-image: url(./assets/img-01.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}
.nav-bar {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.logo-sec {
  display: flex;
}
.logo-txt h2 {
  font-family: "poppins";
  letter-spacing: 1px;
}
.logo-txt p {
  font-family: "inter";
  letter-spacing: 7.5px;
  font-size: 12.5px;
}
.sec-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}
.main-txt {
  font-family: "poppins";
  font-size: 40px;
  width: 70%;
  text-align: center;
  line-height: 1.2;
}
.p-txt {
  width: 80%;
  text-align: center;
  line-height: 1.2;
  margin-top: 30px;
}
.book-a-table {
  width: 200px;
  height: 50px;
  margin-top: 20px;
  background-color: #ffcc33;
  border: none;
  outline: none;
  font-family: "inter";
  font-weight: bolder;
  letter-spacing: 2px;
  color: black;
  font-size: 17px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.book-a-table:hover {
  background-color: gray;
  color: white;
}
/* SECOND SEC */

.dishes-sec {
  /* height: 100vh; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.dishes-header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.dishes-header {
  font-family: "inter";
  font-weight: 900;
  font-size: 22px;
  background-image: url(./assets/img-02.png);
  background-repeat: no-repeat;
  background-position: left center;
  width: 100%;
  text-align: center;
}
.dishes-header-p{
    color: rgb(150, 149, 149);
    margin-top: 30px;
    line-height: 1.3;
    text-align: center;
    width: 90%;
    word-spacing: 2px;
}

.slide-container{
    margin-top: 50px;
    /* padding: 2rem; */
}
.carosel-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}
.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /* box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25); */
    border-radius: 0.5rem;
    position: relative;
}   
.arrow{
    position: absolute;
    z-index: 1;
    right: 210px;
    top: 150px;
    font-size: 24px;
    font-family: 'poppins';
    font-weight: 900;
    text-decoration: none;
}
.left{
    left: 210px;
}
.slider > div{
    text-align: center;
    flex: 1 0 100%;
    scroll-snap-align: start;
    width: 100%;
    
}
.slider > div > img{
    width: 280px;
    object-fit: cover;
    border-radius: 5px;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.23rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;
}








@media only screen and (max-width: 500px) {
  body {
    font-size: 14px;
  }
  .main-txt {
    font-family: "poppins";
    font-size: 40px;
    width: 100%;
    text-align: center;
    line-height: 1.2;
  }
  .home {
    padding: 0 10px;
  }
}
